<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fyp.david.sensorycontrolv2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity
            android:name=".StatsActivity"
            android:label="@string/title_activity_stats" />
        <activity
            android:name=".RecordActivity"
            android:label="@string/title_activity_record" />
        <activity
            android:name=".ActionActivity"
            android:label="@string/title_activity_action" >

        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"/>

        <activity
            android:name=".auth.LoginActivity"
            android:label="LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.SignupActivity"
            android:label="SignupActivity"/>
        <activity android:name=".recordFragments.ResponseRecorded"
            android:label="ResponseRecorded"/>

        <service
            android:name=".MyAndroidFireBaseMessageService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".MyAndroidFirebaseInstanceIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>